{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">

  <h1 class="title">Posts You Created</h1>

    {% if current_user.is_authenticated %}
        <!--Added below-->
        {% if post_num != NULL %}
        <div class="column">

            <h1 class="title">Post #{{ post_num }}</h1>
            <div class="box">
                {{ post_html|safe }}
            </div>

            {% if list_len > 1 %}
            <h1 class="title">Navigate Posts</h1>
            <div class="box">
        
            {% if post_num < list_len - 1 %}
            <button class="button is-block is-info is-large is-fullwidth" onclick="location.href='/manage_posts/{{ id }}/{{ post_num + 1 }}';" 
                type="button"value="Next Post" name="action" button style="margin:5px;">Next Post</button>
            {% endif %}
        
            {% if post_num > 0 %}
            <button class="button is-block is-info is-large is-fullwidth" onclick="location.href='/manage_posts/{{ id }}/{{ post_num - 1 }}';" 
                type="button"value="Previous Post" name="action" button style="margin:5px;">Previous Post</button>
            {% endif %}
            </div>
            {% endif %}

        </div>
        {% endif %}
        <!--Added above-->
    {% endif %}

</div>

{% endblock %}