{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
  <h1 class="title">User Info</h1>
  <div class="box">
      <!-- TODO: Add PFP display functionality -->

      <h3>Name: {{ name }}</h3>

      <h3>Bio: {{ bio }}</h3>

      <form method="GET" action="/edit_profile">
          <button class="button is-block is-info is-large is-fullwidth" value="Edit Profile" name="action"button style="margin:5px;">Edit Profile</button>
      </form>

      <form method="POST" action="/profile">
          <button class="button is-block is-info is-large is-fullwidth" value="Delete Account" name="action"button style="margin:5px;">Delete Account</button>
      </form>
  </div>

  <h1 class="title">Posts</h1>
  <div class="box">
    <form method="POST" action="/create_post">
      <button class="button is-block is-info is-large is-fullwidth" value="Create Post" name="action" button
        style="margin:5px;">Create Post</button>
    </form>

    <form method="POST" action="/delete_post">
      <button class="button is-block is-info is-large is-fullwidth" value="Delete Post" name="action" button
        style="margin:5px;">Delete Post</button>
    </form>
  </div>

  <h1 class="title">Temporary Stuff</h1>
  <div class="box">
    <!-- Temporary way to view some placeholder posts -->
    <form method="POST" action="/view_temp">
      <button class="button is-block is-info is-large is-fullwidth" value="Temp Posts" name="action" button
        style="margin:5px;">Temp Posts</button>
    </form>

      <!-- Temporary way to view another person's profile -->
      <!-- Will just default to whoever is user id==9 atm -->
    <form action="/view_profile/7">
      <button class="button is-block is-info is-large is-fullwidth" value="View Other" name="action" button
        style="margin:5px;">TEMP VIEW</button>
    </form>
  </div>



  
</div>

{% endblock %}
